/**
 * ----------------------------------------------------------------------------------------
 * Theme Styles
 * ----------------------------------------------------------------------------------------
 */

$accent-color:#2b92fa;
$secondary-button-color:#3D414D;

$charcoal: #241f1f;
$main-red: #7d1a1a;
$dark-brown: #3d3535;


/* Theme Margin */
.theme-padding {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.theme-padding-bottom {
  padding-bottom: 3rem;
}

hr.theme-margin {
  margin-bottom: 1rem;
}

.theme-margin-bottom {
  margin-bottom: 40px;
}


/* Typography */



/* Main Header */

.theme-header {
  height: 50px;
  padding: 14px 0 0;

  border-top: 1px white solid;
}


/* Main Navigation */

.main-nav {
  max-width: 600px;
}

.nav {
  display: inline-block;
}

 .nav {

   li {
     margin: 0 45px;
     a {
       font-family: 'Lato', Helvetica Neue, Helvetica, Arial, sans-serif;
       color: white;
       text-decoration: none;
       font-size: 1.4rem;
       font-weight: normal;
     }
   }
}


/* Hero Section */

#home {

  width: 100%;
  height: 100vh;
}

#hero {
  width: 100%;
  height: 100%;

  background:
    repeating-linear-gradient(
        315deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 2px,
        rgba(0, 0, 0, 0.5) 5px,
        rgba(0, 0, 0, 0.5) 10px
    ),     url(http://upload.wikimedia.org/wikipedia/commons/d/d4/New_York_City_at_night_HDR_edit1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  opacity:0;
}


#hero-text-wrapper {
  top:-100px;
  width:50%;

  * {
    display: inline-block;
    margin-bottom: 15px;
  }
}

.theme-hero-unit {
  color: white;
}

.hero-text-style1 {
  height: 60px;

  font-family: Lato, Arial, sans-serif;
  font-weight: 700;
}

.hero-text-style2 {
  height: 65px;

  font-family: Michroma, Arial, sans-serif;
  font-weight: 400;
}

.hero-text-style3 {
  font-family: Lato, Arial, sans-serif;

  font-weight: 400;
  text-transform:capitalize;
}

#hero-text1 {
  font-size: 8.6rem;
}

#hero-text2 {
  font-size: 7.35rem;
}

#hero-text3 {
  font-size: 9.1rem;
}

#hero-subtext {
  margin-top: 10px;

  font-size: 2.6rem;

  opacity: opacity(.75);
}



/* Portfolio Gallery Page */

//TODO: Make this a module

#portfolio {

  li {
    width: 50%;
    height: 300px;
    margin: 0;
    padding: 0;

    background-color: #000;
    outline:1px solid yellow;

    div {
      width: 100%;
      height: 300px;

      background-color: #0ff;
    }
  }
}





/* About Page */



#about {

}

.about {
  background-image: url(../images/bg-photo-about.jpg);
  background-size: cover;
}

/* Contact Page */

.contact {
  background-image: url(../images/bg-photo-contact.jpg);
  background-size: cover;
}


.theme-main-text {
    font-size: 2.4rem;
    line-height: 2.8rem;
}

.theme-main-highlight  {
  color: $main-red;
  font-weight: 700;
}


p {

  a {
    color: $accent-color;

    &:hover {
      color: white;
      background-color: $accent-color;
    }
  }
}

h1,
h2,
h3 {
  color: $dark-brown;

  font-family: 'Rambla', Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

blockquote {
  color: $dark-brown;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;

  cite {
    font-weight: 700;
    font-style: normal;
    font-size: 1.8rem;

    a {
      text-decoration: none;
      color: $dark-brown;

      &:hover {
        color: $charcoal;
      }
    }
  }
}

/* Icons */

.theme-icon-primary {
  position: absolute;
  top:  0;
  left: 0;
  
  height: 40px;
  width: 30px;

  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
}



  /* Buttons */
  .theme-button-primary {
    color: white;
    background-color: $charcoal;

    font-size: 1.3em;
  }

  .theme-button-secondary {
    border-color: #636770;

    color: #fff;

    background: $secondary-button-color; /* Old browsers */
    background: -moz-linear-gradient(top,  $secondary-button-color 0%, darken($secondary-button-color, 10%) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$secondary-button-color), color-stop(100%,darken($secondary-button-color, 10%))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $secondary-button-color 0%,darken($secondary-button-color, 10%) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $secondary-button-color 0%,darken($secondary-button-color, 10%) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $secondary-button-color 0%,darken($secondary-button-color, 10%) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $secondary-button-color 0%,darken($secondary-button-color, 10%) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondary-button-color', endColorstr='darken($secondary-button-color, 10%)',GradientType=0 ); /* IE6-9 */

    &:hover {
      background: lighten($secondary-button-color, 5%); /* Old browsers */
      background: -moz-linear-gradient(top,  lighten($secondary-button-color, 5%) 0%, darken($secondary-button-color, 10%) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($secondary-button-color, 5%)), color-stop(100%,darken($secondary-button-color, 10%))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  lighten($secondary-button-color, 5%) 0%,darken($secondary-button-color, 10%) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  lighten($secondary-button-color, 5%) 0%,darken($secondary-button-color, 10%) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  lighten($secondary-button-color, 5%) 0%,darken($secondary-button-color, 10%) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  lighten($secondary-button-color, 5%) 0%,darken($secondary-button-color, 10%) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten($secondary-button-color, 5%)', endColorstr='darken($secondary-button-color, 10%)',GradientType=0 ); /* IE6-9 */
    }
  }





  /* Forms */
  .theme-form {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {

      width: 100%;
      padding: .75em;
      margin-bottom: 10px;

      background: url(../images/bg-theme-form.png); //$charcoal 25%

      border: 1px solid $charcoal;

      &:hover,
      &:focus {

        color: $charcoal;

        border-color: #B2B8BE;
        outline: none;
      }

      &.half-width {
        width:49%;
      }
    }

    textarea {
      height: 120px;
    }

    fieldset {
      border: none;
      margin: 0 2px;
      padding: 0.35em 0em 0.75em;
    }

    input[placeholder] {
      color: $charcoal;
    }

    ::-webkit-input-placeholder {
      color: $charcoal;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $charcoal;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: $charcoal;
    }

    :-ms-input-placeholder {
      color: $charcoal;
    }
  }


