/**
 * ----------------------------------------------------------------------------------------
 * Module Styles
 * ----------------------------------------------------------------------------------------
 */
@import "mixins.scss";

@import 'pie-chart.scss';
@import 'gallery.scss';
@import 'google-map.scss';
@import 'mixins.scss';

/* Social Media */
.social-media  {
  @include respond-to(tablet) {
    display: inline-block;
    margin: 0 auto;
  }

  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    margin-right: 22px;

    @include respond-to(tablet) {
      height: 60px;
      width: 60px;
      -webkit-background-size: 60px 60px;
      background-size: 60px 60px;
      margin: 0 10px;
    }

    @include respond-to(mobile) {
      height: 43px;
      width: 43px;
      -webkit-background-size: 43px 43px;
      background-size: 43px 43px;
      margin: 0 5px;
    }

    @include respond-to(handhelds) {
      height: 40px;
      width: 40px;
      -webkit-background-size: 40px 40px;
      background-size: 40px 40px;
      margin: 0 5px;
    }
  }
}

.facebook {
  background: transparent url(../images/icons/icon-facebook.svg) 0 0 no-repeat;
}

.twitter {
  background: transparent url(../images/icons/icon-twitter.svg) 0 0 no-repeat;
}

.github {
  background: transparent url(../images/icons/icon-github.svg) 0 0 no-repeat;
}

.google-plus {
  background: transparent url(../images/icons/icon-googleplus.svg) 0 0 no-repeat;
}

.linkedin {
  background: transparent url(../images/icons/icon-linkedin.svg) 0 0 no-repeat;
}

.personal-details {
  padding-left: 45px;
  font-size: 1.8rem;

  @include respond-to(tablet) {
    width: 45%;
    float: left;
    margin-top: 0;
    margin-bottom: 15px;
    margin-right: 5%;
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  @include respond-to(mobile) {
    width: 100%;
    margin-bottom: 5%;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.home-address {
  background: transparent url(../images/icons/icon-address.svg) 0 0 no-repeat;
}

.email-address {
  background: transparent url(../images/icons/icon-email.svg) 0 0 no-repeat;
}

.phone-number {
  background: transparent url(../images/icons/icon-phone.svg) 0 0 no-repeat;
}





/* Contact Info */
.contact-info {
  margin-left: 1.5em;

  p {
    margin: 0;

    font-size: 18px;
  }
}





/* Custom Typography */
.lead-text,
blockquote {
  font-size: 18px;
  font-weight: normal;
}


/* Photo Section */

.photo-section {
  min-height: 250px;
}


/* Price Box */
.bordered-box {
  border: 5px solid #F4F6F7;
  border-radius: 10px;
}

.bordered-box-content {
  padding: 1.5em;
}

.price-box {
  background-color: #fff;

  font-size: 18px;
  text-align: center;

  .bordered-box-content {
    padding: 0 1.5em;
  }
}

.price-box-footer {
  padding: 1em 1.5em;

  background-color: #2B333D;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}





/* Buttons */
.button {
  display: inline-block;
  padding: .75em 1.5em;

  border: none;
  border-radius: 5px;

  text-transform: uppercase;
  text-decoration: none;
}

.primary {
  font-size: 18px;
}

.secondary {
  border: 1px solid;
}





/* HR */
hr {
  height: 55px;
  margin-top: 3em;

  background: transparent url(../img/horizontalSeparator.jpg) center center no-repeat;

  border: none;
}

/* Testimonials */
.bordered-box-header {
  padding: 1.5em;

  background-color: #EFF1F3;

  p {
    margin: 0;

    font-weight: bold;
  }
}





/* Forms */
.custom-form {
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: .75em;

    border: 1px solid;

    outline: 1px;
  }
}



