<article id="contact" class="l-full-width l-clearfix l-pos-relative theme-padding">
    <google-map></google-map>
    <div class="l-content-section">
        <div id="google-map-cover" class="l-bg-cover alpha-90"></div>
        <section class="l-content-cell l-align-left l-pos-relative">
            <div class="l-full-width l-align-left wrapper">
                <h2>Contact Details</h2>

                <p class="personal-details l-pos-relative">
                    <span class="theme-icon-primary home-address"></span>
                    <span>
                        LN Creative Development Ltd
                        <br>
                        63B Burdett Road
                        <br>
                        Mile End
                        <br>
                        London
                        <br>
                        E3 4TN
                        <br>
                        United Kingdom
                    </span>
                </p>
                <p class="personal-details l-pos-relative">
                    <span class="theme-icon-primary email-address"></span>
                    <span><a href="mailto:kwame.23@gmail.com" target="_top">kwame.23@gmail.com</a></span>
                </p>
                <p class="personal-details l-pos-relative theme-margin-bottom l-clearfix">
                    <span class="theme-icon-primary phone-number"></span>
                   <span>+44 79 085 20 696</span>
                </p>
            </div>

            <div class="social-media-wrapper">
                <h2>Follow Me</h2>
                <ul class="social-media l-inline-list">
                    <li><a class="twitter" href=""></a></li>
                    <li><a class="linkedin" href=""></a></li>
                    <li><a class="google-plus" href=""></a></li>
                    <li><a class="facebook" href=""></a></li>
                    <li><a class="github" href=""></a></li>
                </ul>
            </div>
        </section>

        <section class="l-content-cell l-align-right l-pos-relative">
            <h2>Keep in Touch</h2>
            <form class="theme-form">
                <fieldset>
                    <input name="name" id="name"type="text" placeholder="NAME"/>
                    <input name="email" id="email" class="half-width" type="email" placeholder="EMAIL"/>
                    <input name="phone" id="phone" class="half-width l-align-right" type="tel" placeholder="PHONE"/>
                    <input name="subject" id="subject" type="text" placeholder="SUBJECT"/>
                    <textarea name="message" id="message" placeholder="MESSAGE" cols="30" rows="10"></textarea>
                    <button id="submit" class="button theme-button-primary l-full-width">SEND IT</button>
                </fieldset>
            </form>
        </section>
    </div>
</article>