<section id="hero" class="theme-hero-unit l-clearfix">
    <div id="hero-text-wrapper" class="l-align-center l-pos-relative l-centered l-clearfix state-alpha-0">
        <span id="hero-text1" class="state-alpha0 hero-text-style1">LLOYD NTIM</span>
        <span id="hero-text2" class="state-alpha0 hero-text-style2">CREATIVE</span>
        <span id="hero-text3" class="state-alpha0 hero-text-style1">DEVELOPER</span>
        <br/>
        <span id="hero-subtext"  class="hero-text-style3">here ideas come to live</span>
    </div>
    <div id="diag-line"></div>
</section>