<article id="about">
    <h1>About Me</h1>
    <section id="about-intro">
        <p>
            I am a web developer with more than <span>5 years</span>
            experience in <span>Frontend Development</span> who is
            passionate about the <span>web</span> and
            loves new <span>challenges</span>
        </p>
        <blockquote>
            <p>The secret of success in life is for a man to be ready
                for his opportunity when it comes</p>
            <footer>
                — <cite><a href="http://www.bbc.co.uk/history/historic_figures/disraeli_benjamin.shtml">Benjamin Disraeli</a></cite>
            </footer>
        </blockquote>
    </section>

    <section id="about-skills">
        <!--TODO:  This is where pie chart with skills goes -->
    </section>
</article>
