<article id="portfolio" class="theme-main-text l-full-width l-clearfix">
    <hgroup class="l-align-center">
        <h1>My Work</h1>
        <h4>Some of my most recent projects</h4>
    </hgroup>
    <section id="gallery" class="l-full-width">
        <div id="gallery-image-content" ng-class="visible">
            <section id="gallery-bg"></section>
            <div id="gallery-btn-close" ng-click="visible=''"><div>X</div></div>
            <div id="gallery-image">

                <div id="gallery-image-pane">
                    <img src="" alt=""/>

                    <div id="gallery-details">
                        <div class="gallery-detail">
                            <span class="gallery-detail-icon">Project: </span>
                            <span class="gallery-detail-text"> wt r wrwr twtw rt</span>
                        </div>
                        <div class="gallery-detail">
                            <span class="gallery-detail-icon">Technologies used: </span>
                            <span class="gallery-detail-text"> weafdfkklkllklklk</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="gallery-button-group">
                <div id="gallery-btn-left"> l </div>
                <div id="gallery-btn-right"> r </div>
            </div>

            <div id="gallery-btn-cta"><a href="" target="_blank">Visit site</a></div>
        </div>

        <ul id="gallery-thumb-content" class="l-inline-list">
            <li class="gallery-thumb l-content-cell" id="thumb1" ng-click="visible='active'">
                <div class="fadeOutIn">
                    <a class="gallery-button-small" href="">visit</a>
                    <!--<div href=""><span class="icon-zoom"></span>zoom</div>-->
                </div>
            </li>

            <li class="gallery-thumb l-content-cell" id="thumb2" ng-click="visible='active'">
                <div class="fadeOutIn">
                    <a class="gallery-button-small" href="">visit</a>
                    <!--<div href=""><span class="icon-zoom"></span>zoom</div>-->
                </div>
            </li>

            <li class="gallery-thumb l-content-cell" id="thumb3" ng-click="visible='active'">
                <div class="fadeOutIn">
                    <a class="gallery-button-small" href="">visit</a>
                    <!--<div href=""><span class="icon-zoom"></span>zoom</div>-->
                </div>
            </li>

            <li class="gallery-thumb l-content-cell" id="thumb4" ng-click="visible='active'">
                <div class="fadeOutIn">
                    <a class="gallery-button-small" href="">visit</a>
                    <!--<div href=""><span class="icon-zoom"></span>zoom</div>-->
                </div>
            </li>
        </ul>

    </section>
</article>